<h2>{{  'Recommended for you'|t({}, {'context': 'Recommendations block title'}) }}</h2>
<div> {{ 'Recommendations are generated automatically based on content.'|t({}, {'context': 'Recommendations block description'}) }}</div>
{% if rows is empty %}
  <div class="empty-text">
    {{ no_results_message }}
  </div>
{% else %}
  {% for row in rows %}
    {{ row.published_at|date('Y-m-d') }}
    {{ row.image }}
    {{ link(row.title, row.url) }}
  {% endfor %}
{% endif %}
