{#
/**
 * To actually show any data from a custom plugin, you *MUST* override this template
 * with a template called 'debug-item--{{ id }}.html.twig'.
 *
 * For example: debug-item--composer.html.twig, where 'composer' is your plugin's ID.
 *
 * You can then loop your data with something like this:
 * {% for item in data.packages %}
 *    {{ item.name }}
 *    {{ item.version }}
 * {% endfor %}
 *
 *  Available variables:
 *  - id: The ID of your plugin
 *  - label The label of your plugin
 *  - data:  An array of data returned by your plugin's collect() method.
 */
#}

<h2>{{ 'Search API indexes'|t }}</h2>
<table style="width:auto;">
  <thead>
  <tr>
    <th>Index</th>
    <th>Status</th>
    <th>Result</th>
  </tr>
  </thead>
  <tbody>
  {% for value in data %}
    <tr>
      <td>
        {{ value.id }}
      </td>
      <td>
        {{ value.status ? 'Online'|t : 'Offline'|t }}
      </td>
      <td>
        {{ value.result }}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
