{% if is_active %}
  {% block paragraph %}
    <div{{ attributes.addClass('helfi-calculator') }}>
      {% if content.field_calculator_title|render|striptags|trim is not empty %}
        <h2 class="helfi-calculator__title">{{ content.field_calculator_title }}</h2>
      {% endif %}

      {% if content.field_calculator_description|render|striptags|trim is not empty %}
        <div class="helfi-calculator__description">
          {{ content.field_calculator_description }}
        </div>
      {% endif %}

      <div class="helfi-calculator__content">
        {# Generate a unique ID for the calculator instance #}
        {% set helfi_calculator_id = 'helfi-calc-' ~ random() %}
        <div id="{{ helfi_calculator_id }}" class="helfi-calculator__container"></div>

        {# Attach the base calculator library #}
        {{ attach_library('helfi_calculator/calculator') }}

        {# Get the calculator name from the field #}
        {% set calculator_name = content.field_calculator[0]['#markup'] %}

        {# Define valid calculator names in snake case #}
        {% set valid_calculators = [
          'home_care_service_voucher',
          'home_care_client_fee',
          'early_childhood_education_fee',
          'continuous_housing_service_voucher',
          'families_home_services_client_fee',
          'helsinki_benefit_amount_estimate',
        ] %}

        {% if calculator_name in valid_calculators %}
          {# Convert snake case to camelCase for the JavaScript function name #}
          {% set js_function_name = calculator_name|split('_')|map((v, i) => i ? v|capitalize : v)|join('') %}

          {# Attach the specific calculator library #}
          {{ attach_library('helfi_calculator/' ~ calculator_name) }}

          {# Add data attributes for JavaScript initialization #}
          <div class="helfi-calculator__init"
            data-calculator="{{ js_function_name }}"
            data-settings='{{ drupalSettings.helfiCalculator[paragraph.id()].settings|json_encode|raw }}'>
          </div>
        {% endif %}
      </div>
    </div>
  {% endblock %}
{% endif %}
